:root {
  --bg-main-color: #00000080;

  --bg-accent-color: #2d2d2d;

  --accent-color: #f64435;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );

  --smokywhite: #dddbd8;

  --black: #000000;

  --translucent-black: #00000099;
}

* {
  outline: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: url(../assets/image/background.png);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: var(--smokywhite);
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.banner {
  background-color: var(--black);
  padding: 1rem;
}

.banner__title {
  color: var(--accent-color);
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}

.control-panel {
  display: flex;
  justify-content: center;
}

.create-button {
  background-color: var(--accent-color);
  outline: none;
  color: var(--smokywhite);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 8px;
  text-transform: uppercase;
}

.document {
  padding: 8px 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--smokywhite);
  background-color: var(--black);
  width: 100%;
  text-align: center;
  padding: 1rem;
}
