:root {
  --bg-main-color: #00000080;

  --bg-accent-color: #2d2d2d;

  --accent-color: #f64435;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );

  --smokywhite: #dddbd8;

  --black: #000000;

  --translucent-black: #00000099;
}

* {
  box-sizing: border-box;
}

body {
  background: url(../assets/image/background-210125-235634.png);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: var(--smokywhite);
}

.header {
  background-color: var(--black);
  padding: 1rem;
}

.header__title {
  color: var(--accent-color);
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}

.button__container {
  display: flex;
  justify-content: center;
}

.add__button {
  background-color: var(--accent-color);
  outline: none;
  color: var(--smokywhite);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.add__button:not(:last-child) {
  margin-right: 8px;
}

.main {
  padding: 8px 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--smokywhite);
  background-color: var(--black);
  width: 100%;
  text-align: center;
}
